# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl
*.tar.gz
*.dist-info/
*.egg-info/

# PyPI / packaging metadata
pyproject.toml
setup.cfg

# Editable installs
*.egg

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test Files
test.py
